app/.env
app/.env.production

# Logs
/app/logs
/app/*.log
/app/npm-debug.log*
/app/yarn-debug.log*
/app/yarn-error.log*
/app/pnpm-debug.log*
/app/lerna-debug.log*

/app/node_modules
/app/dist
/app/dist-ssr
/app/*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vercel
